VITE_TENANT_SERVICE_URL=http://localhost:4001
VITE_PAYMENT_SERVICE_URL=http://localhost:4002
VITE_MESS_SERVICE_URL=http://localhost:4003
VITE_COMPLAINT_SERVICE_URL=http://localhost:4004
VITE_NOTIFICATION_SERVICE_URL=http://localhost:4005
